body{
background:black;
color:#00ff9d;
font-family:monospace;
text-align:center;
overflow:hidden;
margin:0;
}

.screen{
display:none;
padding-top:100px;
}

.active{
display:block;
}

/* slideshow image */
.slide-img{
width:260px;
max-width:80%;
border-radius:15px;
margin-top:20px;
animation:fadeZoom 1.5s;
}

@keyframes fadeZoom{
from{opacity:0; transform:scale(0.9);}
to{opacity:1; transform:scale(1);}
}

button{
padding:12px 25px;
font-size:18px;
background:pink;
border:none;
border-radius:8px;
cursor:pointer;
color:white;
}

input{
padding:10px;
font-size:16px;
border-radius:6px;
border:none;
}

/* cake */
.cake{
font-size:80px;
margin-top:20px;
position:relative;
cursor:pointer;
}

/* flame */
.flame{
position:absolute;
top:-20px;
left:50%;
transform:translateX(-50%);
font-size:25px;
animation:flicker 0.5s infinite alternate;
}

@keyframes flicker{
0%{opacity:1}
100%{opacity:0.6}
}

/* balloons */
.balloon{
position:absolute;
bottom:-100px;
width:40px;
height:50px;
border-radius:50%;
animation:float 8s linear infinite;
}

@keyframes float{
0%{transform:translateY(0)}
100%{transform:translateY(-1000px)}
}

/* fireworks */
.firework{
position:absolute;
width:6px;
height:6px;
background:white;
border-radius:50%;
animation:explode 1s forwards;
}

@keyframes explode{
0%{transform:scale(1);opacity:1}
100%{transform:scale(8);opacity:0}
}
